!*.dist
/config.ini

# statics
/products/statics/data

# webapp
/products/webapp/data

# Jenkins
/services/jenkins/data/var/jenkins_home/*
/services/jenkins/data/var/jenkins_home/.*
!/services/jenkins/data/var/jenkins_home/hudson.tasks.Mailer.xml
!/services/jenkins/data/var/jenkins_home/config.xml
!/services/jenkins/data/var/jenkins_home/org.jenkinsci.main.modules.sshd.SSHD.xml
!/services/jenkins/data/var/jenkins_home/org.jenkinsci.plugins.workflow.libs.GlobalLibraries.xml

# Mail
/services/mail/data

# Nexus
/services/nexus/data

# Passbolt
/services/passbolt/*.env
/services/passbolt/data

# SonarQube
/services/sonarqube/.env
/services/sonarqube/data

