# services
# 
# Put here the services you want to execute  
#
# services catalog:
# - jenkins
# - mail
# - nexus
# - passbolt
# - sonarqube
services=(jenkins mail nexus passbolt sonarqube)

# products
#
# Fill with the desired products
#
# products catalog:
# - webapp
# - statics
products=(webapp statics)

# directories
#
# Assets directories to be created
#
assets=( \
  services/jenkins/data/var/jenkins_home \
  services/mail/data/var/spool/postfix \
  services/nexus/data/nexus-data \
  services/passbolt/data/var/www/passbolt/config/gpg \
  services/passbolt/data/var/www/passbolt/webroot/img/public \
  services/sonarqube/data services/sonarqube/data/opt services/sonarqube/data/opt/sonarqube services/sonarqube/data/opt/sonarqube/conf \
  services/sonarqube/data/opt/sonarqube/data \
  services/sonarqube/data/opt/sonarqube/extensions \
  services/sonarqube/data/opt/sonarqube/lib services/sonarqube/data/opt/sonarqube/lib/bundled-plugins \
  products/statics/data/usr/share/nginx/html \
  products/webapp/data/var/www/html \
)
