# services
# 
# Put here the services you want to execute  
#
# services catalog:
# - jenkins
# - mail
# - nexus
# - passbolt
# - sonarqube
services=(jenkins mail nexus passbolt sonarqube)

# products
#
# Fill with the desired products
#
# products catalog:
# - webapp
# - statics
products=(webapp statics)

